@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/bank-details-form-view.css');
@import url('./views/students-status-view.css');
@import url('./views/student-master-details-view.css');
@import url('./views/address-master-detail-view.css');
@import url('./views/students-table-view.css');
